.navbar {
    padding: 5em 4em 0 2em;
    border-bottom: 5px solid rgba(0, 115, 181);
    display: flex;
}

.navbar-links {
    grid-column: full-start / full-end;
    flex: 1;
    font-size: 1.4em;
    margin-right: -9em;
    margin-top: -1em;
}

.navbar-links .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: 0.25rem;
    align-items: center;
    margin-right: -6em;
}

.navbar__links:hover,
.navbar__links:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

.navbar-header {
    /* font-size: 2em; */
    font-weight: 700;
    /* font-family: "Mrs Saint Delafield", cursive; */
    color: rgba(0, 115, 181);
    margin-top: -3.5em;
    /* display: flex; */
    flex: 1;
    margin-left: -13em;
}

.phone-number {
    margin-bottom: 1em;
}

.navbar-header img {
    padding-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 1em;
}

ion-icon {
    color: rgba(206, 79, 39);
    margin-left: -2em;
    --ionicon-stroke-width: 3em;
}

.subtext-button {
    /* background-color: rgba(0, 115, 181); */
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 1em;
}

.subtext-button-1 {
    margin-top: 84px;
    /* display: flex; */
    /* align-items: flex-end; */
    /* height: auto; */
    height: 100%;
}

.subtext-button button {
    background-color: rgba(0, 115, 181);
    color: white;
    padding: 0.5em;
    font-size: 0.85em;
    border-radius: 0.5em;
}

.a-submit-story {
    background-color: rgba(0, 115, 181);
    color: white;
    padding: 0.5em;
    font-size: 0.85em;
    border-radius: 0.5em;
    border: solid 1.5px #5f5652;
    text-decoration: none;
    margin: 7px;
    box-shadow: 1px 1px black;
}

.subtext-button button:hover,
.subtext-button button:active,
.a-submit-story:hover,
.a-submit-story:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

/* --------------------------------------------------------------------------------------- */

@media screen and (max-width: 700px) {
    .navbar {
        all: unset;
    }
    .navbar {
        padding: 5em 4em 2em 2em;
    }

    .navbar-links {
        display: flex;
        font-size: 1.4em;
        margin-top: -1em;
        margin-left: 5em;
        width: 2em;
    }

    .navbar-header img {
        padding: 1em;
        margin-top: 2em;
        margin-left: 12em;
    }

    .phone-number {
        margin-left: 13em;
    }

    .subtext-button {
        margin-left: 4em;
    }

    .subtext-button-1 {
        width: 50%;
        margin-left: 6.45em;
        margin-top: 0;
    }

    .subtext-button button {
        background-color: rgba(0, 115, 181);
        color: white;
        padding: 0.5em;
        font-size: 0.85em;
        border-radius: 0.5em;
        margin: 2em;
    }

    .a-submit-story {
        background-color: rgba(0, 115, 181);
        color: white;
        padding: 0.5em;
        font-size: 0.85em;
        border-radius: 0.5em;
        border: solid 1.5px #5f5652;
        text-decoration: none;
        /* margin: 7px; */
        box-shadow: 1px 1px black;
    }
}
